#home{
    height:2000px;
    padding-top:50px;
}
#about{
    height:inherit;
    padding-top:50px;
}

#projects{
    height: 1500px;
    padding-top:50px;
}
#services{
    height: 1500px;
    padding-top:50px;
}
#contact{
    height: 1500px;
    padding-top:50px;
}

