#home{
    height:2000px;
    padding:inherit;
}
#about{
    height: 1500px;
    padding:inherit;
}

#projects{
    height: 1500px;
    padding:inherit;
}
#services{
    height: 1500px;
    padding:inherit;
}
#contact{
    height: 1500px;
    padding:inherit;
}

