body{
    padding-bottom:20%;
    font-family: 'Oswald', sans-serif;
}
#topbar{
    font-family: 'Oswald', sans-serif;
}

#top{
    padding-top:50px;
}

#home{
    padding:50px;
    margin-bottom:50px;
}
#about{
    padding:50px;     
}

#projects{
    padding:50px;
}
#services{
    padding:50px;
}
#github{
    padding:50px;
}
#contact{
    padding:50px;
}
#footer{
    padding-bottom:700px;
}
